body {
    font-family:'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 17px !important;
    background: #f0f0f0;
}

.menuSlider {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #fff;
    top: 80px;
    left: -325px;
    z-index: 100;
    border-left: 2px solid #4977BC;
    box-shadow: 1px -1px 5px #888;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
}
.menuSlider > h3 {
    border-bottom: 1px solid #098ED1;
    padding: 15px 0 5px 0;
    color: #098ED1;
    font-size: 17px;
    font-weight: bold;
}

.menuSlider li {
    line-height: 35px;
    height: 35px;
    color: #666;
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 15px;
}

.menuSlider li a {
    color: #666;
    text-decoration: none;
}

.headerContainer {
    background: #4977BC;
    height: 80px;
    line-height: 80px;
    color: #fff;
    position: fixed;
    width: 100%;
}

.headerContainer > h1 {
    float: left;
    background: url('../img/icons/menu16x16.png') no-repeat;
    padding-left: 25px;
    background-position: 0px;
    font-size: 20px;
}
.headerContainer > .menu {
    float: right
}

.pageContainer {
    height: calc(100% - 10px);
}

.pageContainer > .mainContainer {
    padding: 90px 10px 0px 10px;
    height: calc(100% - 80px);
}

.listview > li {
    background-color: #fff;
    border: 1px solid #e7e7e7;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 60px;
    position: relative;
}

.listview .listConteudo > h1 {
    color: #4977BC;
    padding: 5px 0;
}

.listview .listConteudo > div {
    color: #666;
    font-size: 13px;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

.listview .listConteudo > .divisaoDados > div {
    padding-left: 10px;
    padding-bottom: 5px;
}

.listview .listConteudo > .divisaoDados > .cnpj {
    font-size: 15px;
}

.listview .iconeAcao {
    position: absolute;
    top: 4px;
    left: calc(100% - 23px);
}