body {
    font-family:'Helvetica', Helvetica, Arial, sans-serif;
    font-size: 17px !important;
    background: #f0f0f0;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

h3 {
    color: #098ED1;
    font-size: 17px;
    font-weight: normal;
}

.menuSlider {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #fff;
    top: 80px;
    left: -325px;
    z-index: 100;
    border-left: 2px solid #4977BC;
    box-shadow: 1px -1px 5px #888;
    overflow: hidden;
    padding: 0px 10px 0px 10px;
}

.menuSlider > h3 {
    border-bottom: 1px solid #098ED1;
    padding: 15px 0 5px 0;
    font-weight: bold;
}

.menuSlider li {
    line-height: 35px;
    height: 35px;
    color: #666;
    padding-left: 15px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 15px;
}

.menuSlider li a {
    color: #666;
    text-decoration: none;
}

.headerContainer {
    background: #4977BC;
    height: 80px;
    line-height: 80px;
    color: #fff;
    position: fixed;
    width: 100%;
}

.headerContainer > .headerContainer-title {
    float: left;
    cursor: pointer;
}

.headerContainer > .headerContainer-title > h1 {
    padding-left: 25px;
    font-size: 20px;
}

.headerContainer > .headerContainer-title > i {
    position: absolute;
    left: 0px;
    line-height: 80px;
}

.headerContainer > .headerContainer-tools {
    float: right;
    padding-right: 10px;
}

.pageContainer {
    height: calc(100% - 10px);
}

.pageContainer > .mainContainer {
    padding: 90px 10px 0px 10px;
    height: calc(100% - 80px);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu.left {
    left: auto;
    right: 0px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    text-decoration: none;
}

.dropdown-menu > li.divider {
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff;
}
