/* 
    Created on : 22/05/2015, 08:11:17
    Author     : Cesar Junior
*/

.listview {
    background-color: #fff;
}

.listview > li {
    padding: 15px 10px;
    border-bottom: 1px solid #d0d1d5;
}

.listview > li.divider {
    background-color: #e9eaed;
    border-bottom: 2px solid #3b4968;
    font-style: italic;
    font-family: 'Raleway';
    font-weight: 400;
    color: #767676;
    font-size: 16px;
}

.listview-header {
    //border-bottom: 1px solid #fbfbfb;
}

.listview-header .title {
    float: left;
}

.listview-header .title h1 {
    color: #3b4968;
    font-weight: 500;
    font-size: 22px;
}

.listview-header .tools {
    position: relative;
    float: right;
    padding-right: 10px;
}

.listview-header .tools > a {
    color: #767676;
    font-size: 16px;
}

.listview-body {
    margin-top: 10px;
}

.listview .listview-tableDescription td {
    vertical-align: middle;
}

.listview .listview-tableDescription td:last-child {
    text-align: right;
}

.listview .listview-tableDescription ul {
    line-height: 25px;
    border-left: 2px solid #767676;
    padding-left: 10px;
    color: #767676;
}