/* 
    Created on : 22/05/2015, 08:11:17
    Author     : Cesar Junior
*/

.listview > li {
    background-color: #fff;
    border: 1px solid #d0d1d5;
    padding: 5px;
    margin-bottom: 5px;
    min-height: 60px;
    position: relative;
    -webkit-border-radius: 3px;
}

.listview .listConteudo > h1 {
    color: #3b4968;
    padding: 5px 0;
    font-weight: 400;
    font-size: 20px;
}

.listview .listConteudo > div {
    color: #666;
    font-size: 13px;
}

.listview .listConteudo > .divisaoDados > div {
    padding-left: 10px;
    padding-bottom: 5px;
}

.listview .listConteudo > .divisaoDados > .cnpj {
    font-size: 15px;
}

.listview .iconeAcao {
    position: absolute;
    top: 6px;
    right: 12px;
}

.iconeAcao a {
    color: #d0d1d5;
    font-size: 13px;
}